.background{
  background-color: #e4e7e7;
}
.contain{
  background-color: #c2d5d6;
}
.tile{
  background-color: #9fc6ba;
}
.title{
  background-color: #6AAAB1;
}
.heavy-border{
  border-top: solid #1A4F6C 15px;
  border-left: solid #1A4F6C 2px;
  border-right: solid #1A4F6C 2px;
}
.medium-border{
  border-top: solid #1A4F6C 5px;
}
.light-border{
  border-top: solid #1A4F6C 2px;
}
.positive{
  background-color: #F99559;
  border: solid #1A4F6C 2px
}
.negative{
  background-color: #b9c6c6;
  border: solid #1A4F6C 2px
}
