.page-grid{
  margin: 2px;
  display: grid;
  font: 18px "Trebuchet MS", Helvetica, sans-serif;
  overflow: hidden;
  text-overflow: clip;
  height: 100vh;
  grid-template-columns: 350px 0.9fr;
  grid-template-rows: 100px 100px 1fr;
  grid-template-areas:
    "header header"
    "sidebar buttons"
    "sidebar main";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.title-bar{
  grid-area: header;
  text-indent: 4em;
  font-size: 40px;
}
.student-container{
  grid-area: sidebar;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.student-tile{
  width: 330px;
  margin-top: 10px;
  line-height: 25px;
  cursor: pointer;
  align-self: flex-start;
  border-radius: 10px;
  /* background-color: #d6d6d6; */
  display: grid;
  grid-template-columns: 230px 50px 50px;
  grid-template-rows: 50px 30px 30px 15px;
  grid-template-areas:
    "name mark grade"
    "text text text"
    "assessment assessment percent"
    "empty empty empty";
  margin: 0 auto;
  margin-top: 10px;
}
.student-name{
  grid-area: name;
  overflow: hidden;
  text-overflow: clip;
  line-height: 50px;
  text-indent: 1em;
}
.student-mark{
  grid-area: mark;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
}
.student-grade{
  grid-area: grade;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.student-text{
  grid-area: text;
  font-size: 14px;
  text-indent: 1em;
}
.student-assessment{
  grid-area: assessment;
  text-indent: 1em;
  font-size: 14px;
}
.student-assessment-grade{
  grid-area: percent;
  text-align: center;
}
.student-empty{
  grid-area: empty;
}
.button-container{
  grid-area: buttons;
  width: 700px;
  margin: 2px;
  display: grid;
  grid-template-columns: 175px 175px 175px 175px ;
  grid-template-rows: 0.6fr 0.4fr;
  grid-template-areas:
    "mark-assessment mark-assessment mark-assessment mark-all-assessment"
    "new-student new-assessment empty empty"
}
.button-mark-assessment{
  grid-area: mark-assessment;
  font-size: 22px;
  border-radius: 10px 10px 10px 0px
}
.button-mark-all-assessment{
  grid-area: mark-all-assessment;
}
.button-new-student{
  grid-area: new-student;
  border-radius: 0px 0px 0px 10px
}
.button-new-assessment{
  grid-area: new-assessment;
  border-radius: 0px 0px 10px 0px
}
.form-container{
  grid-area: main;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}
.form-tile{
  width: 525px;
  line-height: 25px;
  align-self: flex-start;
  border-radius: 10px;
  display: grid;
  margin: 10px;
}
.form-title{
  line-height: 50px;
  padding-left: 20px;
}
.form-field{
  width: 100%;
  height:40px;
  outline: none;
}
.form-multi-field{
  width: 60%;
  height: 38px;
  float: right;
  border-radius: 4px;
  outline: none;
}
.form-text{
    padding-left: 20px;
    line-height: 40px;
}
.form-confirm-button{
  padding: 5px 25px;
  width: 310px;
  border-radius: 0px 0px 0px 10px;
}
.form-cancel-button{
  padding: 5px 25px;
  width: 215px;
  border-radius: 0px 0px 10px 0px;
}
.student-details-head{
  display:grid;
  grid-template-columns: 1fr 50px 100px;
  grid-template-rows: 50px;
  grid-template-areas:
    "detail-name detail-mark detail-grade";
}
.student-details-name{
  grid-area: detail-name;
  line-height: 50px;
  padding-left: 20px;
  font-size: 20px;
}
.student-details-mark{
  grid-area: detail-mark;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}
.student-details-grade{
  grid-area: detail-grade;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.student-details-body{
  font-size: 16px;
  display:grid;
  grid-template-columns: 1fr 50px 100px;
  grid-template-rows: 30px;
  grid-template-areas:
    "assessment-name assessment-grade assessment-button"
}
.student-assessment-name{
  grid-area: assessment-name;
  line-height: 30px;
  padding-left: 20px;
}
.student-assessment-mark{
  grid-area: assessment-grade;
  line-height: 30px;
  text-align: center;
}
.student-assessment-button{
  grid-area: assessment-button;
  margin:0 auto;
}
.form-edit-button{
  width: 60px;
  border-radius: 10px 10px 10px 10px;
}
.bottom-row{
  height: 15px;
}
button {
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
}
button:hover {
  opacity: 0.7;
}
